$web-font-path: 'data:text/css;base64,';
$lato-font-path: '~lato-font/fonts';
$font-default: 19px;
$unit: 8px;

$font-heading: 2.5rem;
$font-title: 2rem;
$font-subtitle: 1.5rem;

$secondary-color: #ecf0f1;
$gray-7500: #aaaaaa;
$primary-color: #0D4798;

$navbar-margin-bottom: 21px;

$table-cell-padding: 0.5rem;

$btn-padding-y-lg: 21px;
$btn-padding-x-lg: 14px;
$btn-padding-y: 15px;
$btn-padding-x: 10px;
$btn-padding-y-sm: 9px;
$btn-padding-x-sm: 6px;
$max-width: 300px;

$floating-shadow: rgba(157, 157, 157, 0.1) 0px 7px 29px 0px;