{% extends 'base.html.twig' %}

{% block body %}
 {# id, data from src/Controller/PaylinkReact.php and send by props to react component #}
  <div {{ react_component('Main', { id, data}) }}>
        cargando... <i class="fas fa-cog fa-spin fa-3x"></i>
  </div>


{% endblock %}